---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link>
		<title>{title}</title>

	</head>
	<body>
		<!--<slot />-->

		<header>
			<div class="container">
				<div class="flex-menu">
<img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="">
					<menu>
						<li><a href="">tienda</a></li>
						<li><a href="">comunidad</a></li>
						<li><a href="">acerca de</a></li>
						<li><a href="">soporte</a></li>

					</menu>
				</div>
				<div class="menu-right">
					<a href="#" class="btn-download">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
						  </svg>
						  
													
						Instalar Steam
					</a>
					 <a href="">Iniciar sesion</a>
					 |
					 <a href=""> Idioma</a>
					
				</div>

			</div>
			
			
		</header>
		<div class="banner" >
			<menu class="Small-menu">
				<li><a href="">tu tienda</a></li>
				<li><a href="">nuevo y destacable</a></li>
				<li><a href="">Categorias</a></li>
				<li><a href="">Tienda de puntos</a></li>
				<li><a href="">Noticias</a></li>
				<li><a href="">Laboratorios</a></li>

				<form class="search">
					<input id="search" type="search" placeholder="buscar">
					<button >
						<i id="magnifying"class="fa-solid fa-magnifying-glass"></i>
					</button>

				</form>

			</menu>



		</div>
		<div class="banner2 container">
			<div class="left-menu">

			</div>

		</div>
		<div class="banner3">


		</div>
	</body>
</html>
<style >
	html,body{
		padding: 0;
		margin: 0;
	}

	header{
		text-align: center;
		height: 80px;
		background: #161d24;
		
	}
	.container {
		text-align: center;
		max-width: 1200px;
		margin: 0;
		
	}

	.flex-menu, li{
list-style: none;
display: inline-block;

margin-left: 10px;

	} 
	.flex-menu img{

		width: 160px;
	}
	.flex-menu a{
		font-weight: 600;
		text-decoration: none;
		color: blanchedalmond;
	}
	.flex-menu a :hover{
		color: white;
	}


.flex-menu {
	margin: 0;
	display: flex;
	height: 80px;
	width: 60%;
	float: left;
	align-items: center;
	color: blanchedalmond;
	font-family: sans-serif;
	text-transform: uppercase;
	
}

.menu-right{
	color: blanchedalmond;
	font-family: sans-serif;
	margin-top: 8px;
	width: 40%;
	float: left;
}
.menu-right a{

	text-decoration: none;
	color: antiquewhite;
	margin: 0 8px;
}
.btn-download{
	color: white;
	background: #789806;
	display: inline-block;
	padding: 6px 12px;
	font-family: sans-serif;
	text-decoration: none;
	display: inline-flex;
	gap: 8px;
	align-items: center;
}
.btn-download svg{

	width: 20px;
}
.btn-download:hover{
background-color: #97bb14;
}

.banner{
	background: orange;
	
	background-size: cover;
	height: 360px;
	position: relative; /* Necesario para que el posicionamiento absoluto de .Small-menu funcione */
	background: url(https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000015381/d0268be3a717ed2ded03fa77aea451e4cb0e95045ad80da3a726439fe258eb88)no-repeat center center;
}
.banner2{
	background: purple;
	height: 240px;
}
.left-menu{

	background: pink;
	width: 180px;
	height: 360px;
	position: absolute;
	left: 0;
	position: sticky;
}
.banner3{

	background-color: aqua;
	height: 1200px;
}
	.Small-menu{
		display: flex;
	background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(47,47,186,1) 57%, rgba(43,71,77,1) 96%);;
	margin: 20px auto 0 auto;
	width: 75%;
	padding: 15px 20px 15px 40px;
	position: absolute; /* Posiciona el menú absolutamente */
    /* Centra el menú horizontalmente */
	top: 9%;
	left:20%;

   


	}
	.Small-menu li{
		display: inline-block;
		margin-right: 15px;


	}

	.Small-menu a{

		
		color: white;
		text-decoration: none;

	}
	.search{
		padding-left: 40px;
		display: flex;
		gap: 0px;
		margin-top: -3px ;
	}
	#search{
		background-color: rgb(4, 0, 61);
		
		border-radius: 5px;
		color: white;
		border: #161d24e1;
	}
	button{
	background: rgb(151, 151, 255);
	height: 25px;
	border-radius: 5px;
	border: none;
	}
	#magnifying{

	color: blue;
	}

</style>
