---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="p-0 m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
			integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link />
		<title>{title}</title>
	</head>
	<body class="p-0 m-0 bg-black">
		<!--<slot />-->

		<header class="bg-black h-20 text-center">
			<div class="container max-w-[1200px] mx-auto">
				<div
					class="flex-menu m-0 flex h-20 w-[60%] float-left items-center text-white font-sans uppercase"
				>
					<img
						src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016"
						alt=""
						class="w-[160px]"
					/>
					<menu>
						<li class="inline-block list-none ml-[10px]">
							<a
								class="font-semibold no-underline text-neutral-50 hover:text-blue-600"
								href="">tienda</a
							>
						</li>
						<li class="inline-block list-none ml-[10px]">
							<a
								class="font-semibold no-underline text-neutral-50 hover:text-blue-600"
								href="">comunidad</a
							>
						</li>
						<li class="inline-block list-none ml-[10px]">
							<a
								class="font-semibold no-underline text-neutral-50 hover:text-blue-600"
								href="">acerca de</a
							>
						</li>
						<li class="inline-block list-none ml-[10px]">
							<a
								class="font-semibold no-underline text-neutral-50 hover:text-blue-600"
								href="">soporte</a
							>
						</li>
					</menu>
				</div>
				<div
					class="menu-right text-white font-sans mt-2 w-[40%] float-left"
				>
					<a
						href="#"
						class="btn-download my-0 mx-8 text-white bg-[#789806] inline-flex items-center gap-2 px-3 py-1.5 font-sans no-underline hover:bg-green-700"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-6 w-[30px]"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
							></path>
						</svg>

						Instalar Steam
					</a>
					<a href="">Iniciar sesion</a>
					|
					<a href=""> Idioma</a>
				</div>
			</div>
		</header>
		<div
			class="banner container overflow-clip max-w-[2200px] mx-auto bg-cover bg-center h-96 relative bg-[url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/07/ea-sports-fc-25-3650630.jpg)]"
		>
			<menu
				class="Small_menu flex justify-center bg-blue-600 w-[1000px] absolute m-[30px] ml-[400px] h-[30px] items-center gap-[40px]"
			>
				<div>
					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Tu tienda</a
						>
					</li>
					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Nuevo y destacable</a
						>
					</li>
					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Categorias</a
						>
					</li>
					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Tienda de puntos</a
						>
					</li>

					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Noticia</a
						>
					</li>

					<li class="inline-block list-none ml-[10px]">
						<a
							class="font-semibold no-underline text-neutral-50 hover:text-blue-800 p-[4.5px] hover:bg-blue-200 transition-colors duration-300"
							href="">Laboratorios</a
						>
					</li>
				</div>

				<div class="formulary flex">
					<input
						type="search"
						placeholder="buscar"
						class="bg-blue-950 hover:border-yellow-400"
					/>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="size-6 text-gray-50 bg-blue-900 cursor-pointer"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
						></path>
					</svg>
				</div>
			</menu>
		</div>
		<div
			class="left-menu float-left z-10 bg-gray-900 w-44 h-[360px] sticky top-0 text-cyan-100 font-semibold"
			style="left: calc(((100% - 1200px) / 2) - 180px);"
		>
			<img
				src="https://store.akamai.steamstatic.com/public/images//gift/steamcards_promo_03.png?v=1 "
				alt=""
			/>
			TARJETA DE REGALOS
			<a
				href="#"
				class="subtitle1 text-cyan-700 mt-[-5px] hover:text-cyan-200 no-underline"
				>Tarjeta de regalos</a
			>
			<div class="text-xs absolute mt-[10px]">
				<p>RECOMENDADOS</p>
				<li class="list-none hover:text-sky-900">
					<a href="">Amigos</a>
				</li>
				<li class="list-none hover:text-sky-900">
					<a href="">Mentores</a>
				</li>
				<li class="list-none hover:text-sky-900">
					<a href="">Etiquetas</a>
				</li>
			</div>
		</div>
		<div class="banner2 container max-w-[1200px] mx-auto h-[500px] bg-black">
			<div class="subtitle text-white absolute mt-[30px] font-semibold">
				<p class="ml-[110px]">DATOS Y RECOMENDADOS</p>
			</div>

			<div class="images flex">
				<img
					src="https://cloudfront-eu-central-1.images.arcpublishing.com/diarioas/XIABHNNLL5GYHGSOSF2AOSQZNQ.jpg"
					alt=""
					class="w-[500px] h-[350px] absolute mt-[60px] ml-[114px]"
				/>
				<img
					src="https://gdm-assets.b-cdn.net/images/ncavvykf/realsport-production/b646a68e52ee1b331b99042104e3b291a5c820da-1197x626.jpg?rect=3,0,1192,626&w=1200&h=630&auto=format"
					alt=""
					class="w-[500px] h-[350px] absolute mt-[60px] ml-[554px]"
				/>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-[60px] bg-gray-900 text-red-700 absolute mt-[200px] ml-[1070px] cursor-pointer transition-color duration-300 hover:text-yellow-300"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
				</svg>
			</div>
		</div>
		<div
			class="banner3 container h-[1200px] bg-gray-800 max-w-full justify-center"
		>
			<h1 class="mr-[820px] mt-[30px] font-semibold text-white">
				OFERTAS ESPECIALES
			</h1>
			<div
				class="offers absolute mt-[60px] flex mr-[100px] justify-around gap-[10px]"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-[60px] mt-[130px] text-red-600 bg-gray-900 hover:text-yellow-300 transition-colors duration-300"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 19.5 8.25 12l7.5-7.5"></path>
				</svg>

				<div>
					<img
						src="https://shared.akamai.steamstatic.com/store_item_assets/steam/spotlights/3efceac6f41b10dd0b6556ce/spotlight_image_spanish.jpg?t=1727198442"
						alt="Oferta del fin de semana"
						
					/>
					<div
						class="description bg-blue-950 pt-[5px] pb-[15px] justify-center shadow-md"
					>
						<h2 class="mx-[10px] text-white">
							OFERTA DEL FIN DE SEMANA
						</h2>
						<p class="mx-[10px] text-sky-500 text-[14px]">
							La oferta termina el 30 SEP a las 12:00
						</p>
						<p
							class="mx-[5px] w-[120px] my-[5px] px-[10px] py-[5px] bg-lime-950 text-center text-lime-400 font-medium tracking-wide text-[20px]"
						>
							-50-85%
						</p>
					</div>
				</div>

				<div>
					<img
						src="https://shared.akamai.steamstatic.com/store_item_assets/steam/spotlights/19c040e1b33c93ac8ad5e5ee/spotlight_image_english.jpg?t=1727119364"
						alt="Oferta del fin de semana"
						
					/>
					<div
						class="description bg-blue-950 pt-[5px] pb-[15px] justify-center shadow-md"
					>
						<h2 class="mx-[10px] text-white">
							OFERTA DEL FIN DE SEMANA
						</h2>
						<p class="mx-[10px] text-sky-500 text-[14px]">
							La oferta termina el 30 SEP a las 12:00
						</p>
						<p
							class="mx-[5px] w-[120px] my-[5px] px-[10px] py-[5px] bg-lime-950 text-center text-lime-400 font-medium tracking-wide text-[20px]"
						>
							-50-85%
						</p>
					</div>
				</div>

				<div>
					<img
						class="w-[306px] h-[186.52]"
						src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/269110/header.jpg?t=1576182011"
						alt="Super Motherload"
					/>
					<div
						class="description bg-blue-950 pt-[5px] pb-[1px] justify-center flex shadow-md"
					>
						<h2 class="mx-[10px] text-white">OFERTA DEL DIA</h2>

						<p
							class="mx-[5px] w-[120px] my-[5px] px-[10px] py-[0.1px] bg-lime-950 text-center text-lime-400 font-medium tracking-wide text-[20px]"
						>
							-50-85%
						</p>
					</div>
					<img
						class="w-[306px] h-[186.52]"
						src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/301970/header.jpg?t=1723606961"
						alt="Screencheat"
					/>
					<div
						class="description bg-blue-950 pt-[5px] justify-center flex"
					>
						<h2 class="mx-[10px] text-white">OFERTA DEL DIA</h2>

						<p
							class="mx-[5px] w-[120px] my-[5px] px-[10px] bg-lime-950 text-center text-lime-400 font-medium tracking-wide text-[20px]"
						>
							-50-85%
						</p>
					</div>
				</div>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-[60px] bg-gray-900 text-red-700 absolute mt-[140px] ml-[1084px] cursor-pointer transition-color duration-300 hover:text-yellow-300"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
				</svg>
			</div>


			<div>

				<h3 class="bg-orange-300">EXPLORAR POR CATEGORIA</h3>
				<div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>



				</div>





			</div>
		</div>
	</body>

	<div
		class="group items-center hover:cursor-pointer transition-colors duration-300 hover:bg-red-600 rounded text-white px-6 py-10 inline-flex bg-blue-500"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-7 mr-1 mt-[1px] group-hover:animate-spin group-hover:text-green-400"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z"
			></path>
		</svg>

		Presióname!
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-4 mt-[2.5px] ml-1"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
		</svg>
	</div>
</html>

<style></style>
